@mixin generic-header-styling {
  display: flex;
  box-sizing: border-box;
  color: var(--fg-color);
  background-color: var(--bg-color);
  padding: 0 1rem 0.1rem;
  align-items: center;
  height: var(--header-height);
  gap: 1.25rem;
  box-shadow: inset 0 -1px 0 var(--line-shadow);

  .flexGrow {
    flex-grow: 1;
  }

  .settings,
  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: inherit;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 4px;
    transition: 0.2s;

    &:hover,
    &:focus {
      background-color: #00000007;

      @media (prefers-color-scheme: dark) {
        background-color: #0003;
      }
    }
  }
}

.header {
  @include generic-header-styling;

  .logo {
    display: inline-block;
    svg {
      width: auto;
      height: 40px;
      display: block;
    }
  }

  h1 {
    font-weight: 500;
    color: var(--theme-color);
    font-size: 1.3rem;
    margin: 0;
  }

  a {
    color: var(--fg-color);
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--link-color);
    }
  }

  .relative {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }

  .tooltip {
    display: block;
    position: absolute;
    padding: 0.75rem;
    background-color: var(--bg-tooltip);
    box-shadow: 0 2px 7px var(--tooltip-shadow);
    z-index: 2;
    right: 0;
    top: 100%;
    width: auto;
    white-space: pre;
    font-size: 90%;
  }
}

.sidebar {
  position: fixed;
  right: -400px;
  top: 0;
  width: calc(100% - 1rem);
  max-width: 400px;
  height: 100%;
  color: var(--fg-color);
  background-color: var(--bg-color);
  transition: 0.3s;

  &.open {
    right: 0;
    box-shadow: 0 0 15px #0004;
  }

  .content {
    box-sizing: border-box;
    overflow: auto;
    max-height: calc(100% - var(--header-height));
  }

  .sidebarHeader {
    @include generic-header-styling;

    h1 {
      font-size: 1.25rem;
      font-weight: 600;

      a {
        color: var(--fg-color);
        text-decoration: none;

        &:hover,
        &:focus {
          color: var(--link-color);
        }
      }
    }

    .close {
      background-image: var(--burger-icon);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 1.5rem;
      opacity: 0.7;

      @media (prefers-color-scheme: dark) {
        background-image: var(--close-icon);
      }
    }
  }

  .content {
    padding: 1rem;
    font-size: 1rem;

    a {
      display: block;
      color: var(--fg-color);
      text-decoration: none;
      padding: 0.4rem 0;

      &:hover,
      &:focus {
        color: var(--link-color);
      }
    }

    hr {
      margin: 1.5rem 0;
      border: 1px solid var(--line-shadow);
      border-width: 1px 0 0 0;
    }
  }
}

.hideSmall {
  @media (max-width: 700px) {
    display: none;
  }
}
