.buttonSelect,
.nativeSelect {
  padding: 0.5rem;
  border-bottom: 1px solid var(--line-shadow);

  select,
  button {
    color: inherit;
    font: inherit;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0.2rem 0.7rem;
    border-radius: 50px;

    &:hover {
      background-color: var(--button-select-hover);
    }
  }

  select,
  button.active {
    color: white;
    background-color: var(--button-select-active);

    &:hover {
      background-color: var(--button-select-active);
    }
  }
}
