.buttonSelect,
.nativeSelect {
  padding: 0.5rem;
  border-bottom: 1px solid #99999933;

  select,
  button {
    color: inherit;
    font: inherit;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0.2rem 0.7rem;
    border-radius: 50px;

    &:hover {
      background-color: #0f3378;
    }
  }

  select,
  button.active {
    background-color: #0059ff;

    &:hover {
      background-color: #0b49ba;
    }
  }
}
