.divs {
  position: relative;
  display: flex;
  width: 100vw;
  top: 0;
  min-height: calc(100vh - var(--header-height));

  @media (max-width: 800px) {
    flex-direction: column;
  }

  .pomskyPart,
  .regexPart {
    width: 50vw;
    background-color: var(--bg-content);

    @media (max-width: 800px) {
      width: 100vw;
    }
  }

  .regexPart {
    flex-grow: 1;
    border: 1px solid var(--line-shadow);
    border-width: 0 0 0 1px;
    box-sizing: border-box;
    color: var(--fg-color);
    overflow: auto;

    @media (max-width: 800px) {
      border-width: 1px 0 0 0;
    }

    .error {
      color: var(--error-fg);
    }
    .help {
      color: var(--help-fg);
    }

    :global(.modifier),
    :global(.caret),
    :global(.dollar),
    :global(.star),
    :global(.plus),
    :global(.questionmark),
    :global(.brace),
    :global(.dash),
    :global(.dot) {
      color: #569cd6;
    }

    :global(.string) {
      color: #ce9178;
    }

    :global(.escape) {
      color: #3dc9b0;
    }
  }
}
