.divs {
  position: relative;
  display: flex;
  width: 100vw;
  top: 0;
  min-height: calc(100vh - 60px);

  @media (max-width: 800px) {
    flex-direction: column;
  }

  .rulexPart,
  .regexPart {
    width: 50vw;
    background-color: #1e1e1e;

    @media (max-width: 800px) {
      width: 100vw;
    }
  }

  .regexPart {
    flex-grow: 1;
    border: 1px solid #7773;
    border-width: 0 0 0 1px;
    box-sizing: border-box;
    padding: 0.5rem;
    color: white;
    font-family: 'JetBrains Mono', monospace;
    font-variant-ligatures: none;
    white-space: pre-wrap;
    overflow: auto;

    @media (max-width: 800px) {
      border-width: 1px 0 0 0;
    }

    .inner {
      &.valid {
        transition: opacity 0.25s ease-in 0;
      }

      &:not(.valid) {
        opacity: 0.67;
        filter: grayscale(0.67);
        transition: opacity 0.25s ease-in 1.25s, filter 0.25s ease-in 1.25s;
      }
    }

    .error {
      color: #ff5a5a;
    }
    .help {
      color: #63b6ff;
    }

    /*
      .string
      .punct
      .modifier
      .caret
      .dollar
      .star
      .plus
      .questionmark
      .brace
      .dash
      .dot
      .escape
    */

    :global(.modifier),
    :global(.caret),
    :global(.dollar),
    :global(.star),
    :global(.plus),
    :global(.questionmark),
    :global(.brace),
    :global(.dash),
    :global(.dot) {
      color: #569cd6;
    }

    :global(.string) {
      color: #ce9178;
    }

    :global(.escape) {
      color: #3dc9b0;
    }
  }
}
