.outer {
  box-sizing: border-box;
  background-color: var(--error-bg);
  border-bottom: 1px solid var(--error-border);
  font-family: Inter, sans-serif;
  padding: 0.5rem 0.8rem;

  .position {
    color: var(--error-fg-2);
    text-shadow: 0 0 2px var(--msg-text-shadow);
    margin-right: 0.4rem;
  }

  .help {
    color: var(--help-fg-2);
    text-shadow: 0 0 2px var(--msg-text-shadow);
    display: block;
    margin-top: 0.4rem;
  }
}
