.outer {
  padding: 0;

  .ignoreCaseInput {
    width: 30px;
  }

  .topPanel {
    display: flex;
    padding: 0.5rem;
    gap: 0.5rem;
    font-size: inherit;
    font-family: Inter, sans-serif;

    label {
      flex-grow: 1;
    }
  }

  .errorPanel {
    background-color: var(--error-bg);
    padding: 0.8rem;
    border-top: 1px solid var(--line-shadow);

    b {
      color: var(--error-fg-2);
    }

    .bug {
      margin-top: 0.5rem;
      font-size: 1rem;
      color: var(--fg-color);

      a {
        color: var(--link-color);
      }
    }
  }

  .input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--bg-shiny);
    color: inherit;
    border: 1px solid var(--line-shadow);
    border-width: 1px 0;
    min-height: 6rem;
    font-size: inherit;
    font-family: Inter, sans-serif;
    padding: 0.5rem;
    margin: 0;
    resize: vertical;

    &:focus {
      box-shadow: 0 0 0 3px var(--ta-focus);
      border-color: var(--ta-focus-border);
      outline: none;
    }
  }

  .matches {
    color: #777;

    &.success {
      color: var(--success);
    }
  }
}

.searchingIndicator {
  padding-left: 10px;
  color: var(--theme-color);

  &::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 3px solid;
    border-color: currentColor currentColor currentColor transparent;
    margin-right: 10px;
    vertical-align: middle;
    animation: rotate 1s linear infinite;

    @keyframes rotate {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
