.flavors {
  padding: 0.5rem;
  border-bottom: 1px solid var(--line-shadow);
}

.regex {
  padding: 0.5rem;
  font-family: 'JetBrains Mono', monospace;
  font-variant-ligatures: none;
  white-space: pre-wrap;
}
